<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>lifecycle cpp file</Title>
			<Shortcut>lifecycle</Shortcut>
			<Description>lifecycle主类实现文件</Description>
			<Author>daonvshu</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Declarations>
				<Literal>
					<ID>name</ID>
					<ToolTip>类名</ToolTip>
					<Default>MyClass</Default>
				</Literal>
				<Literal>
					<ID>uiclass</ID>
					<ToolTip>Ui类名</ToolTip>
					<Default>UiClass</Default>
				</Literal>
			</Declarations>
			<Code Language="cpp"><![CDATA[$name$::$name$(QWidget* parent)
					: LifeCycleWidget(parent)
				{
					ui = new Ui::$uiclass$;
					ui->setupUi(this);
				}

				$name$::~$name$() {
					delete ui;
				}

				bool $name$::attempClose() {
				    return true;
				}

				void $name$::onNavigateResult(const QVariant& data) {}

				void $name$::onViewLoad() {}

				void $name$::onReshow() {}

				void $name$::onHidden() {}

				void $name$::onResizeWindow() {}
				]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>
