<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>lifecycle vvm private header</Title>
			<Shortcut>lifecyclevvm</Shortcut>
			<Description>lifecycle主类头文件</Description>
			<Author>daonvshu</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Declarations>
				<Literal>
					<ID>name</ID>
					<ToolTip>类名</ToolTip>
					<Default>MyClass</Default>
				</Literal>
				<Literal>
					<ID>view</ID>
					<ToolTip>ui object</ToolTip>
					<Default>Ui</Default>
				</Literal>
				<Literal>
					<ID>implpath</ID>
					<ToolTip>Impl头文件位置</ToolTip>
					<Default>Impl.h</Default>
				</Literal>
			</Declarations>
			<Code Language="cpp"><![CDATA[struct $name$View;
				struct $name$Private : public ImplPrivate {
					Q_DECLARE_PUBLIC($name$);

					void init();
    				void bindView(QWidget* parent);

    				$name$View* view;

					~$name$Private();
				};
				]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>
